* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: var(--color-bisque);
}

header {
  background-color: var(--color-darkslateblue);
}
header h1 {
  text-align: center;
  color: var(--color-bisque);
}

header p {
  text-align: center;
  color: var(--color-bisque);
}

.divider {
  margin-top: 2rem;
}

.mic_icon img {
  width: 5%;
  object-fit: contain;
}

.arrow-container {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 1rem;
}

.arrow-container img {
  width: 40px;
  object-fit: contain;
}

.copyright {
  text-align: center;
}

.lind {
  display: none;
}

.nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navLi {
  text-align: center;
  margin-bottom: 0.1em;
  background-color: var(--color-cornflowerblue);
  padding: 1rem;
  width: 100%;
}

li a {
  text-decoration: none;
  color: var(--color-bisque);
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--color-burlywood);
  color: var(--color-black);
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.heroPic {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.textimg_container img {
  display: none;
}

button {
  background-color: var(--color-brown);
  color: var(--color-bisque);
  padding: 1em 4em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
}

.text p {
  margin: 1rem;
  line-height: 1.5;
}

.divQuote {
  background-color: var(--color-darkslateblue);
  color: var(--color-bisque);
  padding: 1rem;
  text-align: center;
}

.book_text {
  display: none;
}

.QuoteAuthor {
  display: flex;
  justify-content: right;
}

.tourList {
  display: flex;
  flex-direction: column;
}

.onTourHeader {
  background-color: var(--color-darkslateblue);
  color: var(--color-bisque);
  padding: 1rem;
}

.onTourUl li {
  list-style: none;
  margin: 0.5rem;
}

picture {
  width: 100%;
}
img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.imgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--color-bisque);
  color: var(--color-black);
  padding: 1em;
}

.booksHeader {
  background-color: var(--color-darkslateblue);
  color: var(--color-bisque);
  padding: 1rem;
}

.booksImg {
  width: 100%;
  height: 50%;
  object-fit: contain;
  aspect-ratio: 16/9;
  margin: 1rem;
}
.books {
  background-color: var(--color-bisque);
}

article {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.contact {
  background-color: var(--color-bisque);
}

.contactHeader {
  background-color: var(--color-darkslateblue);
  color: var(--color-bisque);
  padding: 1rem;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.contactImage {
  display: none;
}

.contactImage img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.publishingImgContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.publishingImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: var(--color-bisque);
}

.form fieldset {
  border: none;
  padding: 0;
}

.form legend {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.form div {
  margin-bottom: 15px;
}

.form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
}

footer {
  background-color: var(--color-darkblue);
  color: var(--color-white);
  text-align: center;
  padding: 1rem 0;
}

.footer_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.kea_publishing,
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.socials img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.kea_publishing img {
  width: 15%;
}

.policies,
.credits {
  margin-top: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

.credits span {
  color: var(--color-white);
}

.copyright {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  header {
    background-color: var(--color-darkblue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .lind {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: block;
  }
  .nav {
    display: flex;
  }

  .nav li {
    list-style: none;
  }

  .hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .articleBooks {
    display: flex;
    flex-direction: row-reverse;
  }
  .booksImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 16/9;
    margin: 1rem;
  }

  .booksText {
    max-width: 75ch;
  }

  .publishingImgContainer {
    display: flex;
    align-items: center;
    justify-content: left;
    width: min-content;
  }
  .contactArticle {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .form {
    max-width: 100%;
    margin: 0;
  }

  footer {
    text-align: left;
    padding: 1rem;
  }

  .footer_content {
    flex-direction: row;
    justify-content: space-between;
  }

  .socials {
    margin-left: 1rem;
  }
}

@media (min-width: 1024px) {
  .textimg_container {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
  }
  .textimg_container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 0;
  }

  .textimg_container div:nth-child(n + 3) {
    display: none;
  }

  .text_book_container {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

  .contactContainer {
    flex-direction: row;
    gap: 2rem;
  }

  .contactImage {
    display: block;
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
  }

  .form {
    width: 100%;
  }

  .socials img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
}

@media (min-width: 1440px) {
  .book_text {
    display: block;
  }
  .text_book_container img {
    display: block !important;
  }

  .textimg_container div:nth-child(n + 3) {
    display: block !important;
  }
  .text_book_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .article-event-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .books-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contactImage {
    height: 100%;
    width: 100%;
  }
}
