:root {
  --color-bisque: bisque;
  --color-darkslateblue: darkslateblue;
  --color-cornflowerblue: cornflowerblue;
  --color-burlywood: burlywood;
  --color-brown: brown;
  --color-darkblue: darkblue;
  --color-white: white;
  --color-black: black;
}
